*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #1F1F1F;
    padding: 70px 0;
}

.containers{
    padding: 0 16px;
    display: flex;
    justify-content: end;
    gap: 100px;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;

}