/* Inicio Sextion ProductListingPage*/

.section-productlisting{
  background-color: #474747;
  width: 904px;
  flex-wrap: wrap;
  display: flex;
  margin-left: 40%;
}

.informations{
  display: flex;
  justify-content: space-between;
}

.informations h4{
  margin-left: 45px;
  margin-right: 45px;
}

/* Inicio Section HomePage*/

.section{
    background-color: #F9F8FE;
    font-family: Arial, Helvetica, sans-serif;
}

.section-featured{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-featured h4{
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
    color: #474747;
}

.text{
    font-size: 24px;
    line-height: 38px;
    font-weight: 700;
    margin-left: 5%;
    color: #474747;
}

.featured-collections{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.featured-collections h4{
  color: #474747;
}

.feature-card{
    display: flex;
    flex-direction: column;
    height: 104px;
    height: 138px;
}

.card-name{
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #474747;
}

.circle{
    background-color: #FFFFFF;
    border-radius: 150px;
    width: 104px;
    height: 104px;
    padding: 20px;
    gap: 10px;
}

.featured-icons{
    display: flex;
    width: 64px;
    height: 64px;
    margin-top: 20px;
    margin-left: 20px;
}

.collections{
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-left: 15%;
}

.collection{
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

/* Inicio Css ProductCard */

.allcards{
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    margin: 16px;
    margin-left: 5%;
    flex-direction: column;
    padding: 2px;
    border-radius: 12px;
    width: 300px;
  }
  
  .product-image {
    width: 292px;
    height: 321px;
    object-fit: cover;
    rotate: 45px;
    margin-bottom: 16px;
    padding-right: 4px;
    margin-top: 7px;
    background-color: #FFFFFF;
  }

  .product-category{
    color: #8F8F8F;
    font-size: 16px;
  }
  
  .product-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    color: #1F1F1F;
  }
  
  .price-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  
  .original-price {
    font-size: 24px;
    color: #8F8F8F;
    text-decoration: line-through;
  }
  
  .discounted-price {
    font-size: 24px;
    color: #1F1F1F;
  }